body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;

}


h1, h2, h3, h4, h5, p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}


a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}



/* Header */

.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}

.header {

}

.header-navigation {
    display: flex;
    align-items: center;
}


.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.header-logo-item {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
}

.header-list-link:hover, .header-list-link:focus {
    color: #404BBF;
}

.header-adress {
    font-style: normal;
    margin-left: auto;
}

.header-adress-list {
    display: flex;
    gap: 40px;
}

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-adress-link:hover, .header-adress-link:focus {
    color: #404BBF;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}



/* hero */
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 496px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 48px;
    border: none;
    border-radius: 4px;
}
.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
}

/* FEAUTURES */

.features {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}




/* Team */


.team {
    background-color: #F4F4FD;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: calc((100% - 72px) / 4);
    height: 380px;
}

.team-image {}

.team-text-container {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Our Portfolio */

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 360px;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-img {}

.portfolio-text-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}



/* Footer */

.footer-wrap {}


.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}




